<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=360" />
	<link rel="icon" href=" " type="image/x-icon" />
	<title>Click4Fun GAMES</title>
	<link type="text/css" rel="stylesheet" href="/static/css/game.css">
	<style type="text/css">
		.myp {
			text-align: center!important;
			color: red;
		}

		.myh {
			margin-top: 10px;
			text-align: center;
			font-size: 25px;
			background-color: #8da728;
			color: white;
			margin-bottom: 10px;
		}
	</style>
</head>

<body>
	<div class="container">
		<h2 class="myh">Click4Fun GAMES</h2>
		<div class="header">
			<img src="/static/img/game.png" />
		</div>
		<div class="footer">
			<div class="sub">
				<h4 class="myp">Abonnement: Prijs: € 5,00 per week<br>(omvatten VAT)</h4>
				<button class="buttonOne" id="submit_btn_mobile">Aanmelden</button>
				<p>Leverancier: HONGKONG LEADER NETWORK CO., LIMITED<br>
					Telefoon: +31 900 466 4664<br>
					E-mail: info-nl@mobileinfo.biz</p>
					<p class="myp">
						<a href="/t">T&C | </a><a href="/h">Help | </a><a href="/p"> Privacy</a>
					</p>
			</div>
		</div>
	</div>
</body>
<script type="text/javascript">
	$('#submit_btn_mobile').click(function () {
		window.location.href = "http://baidu.com"
	});
</script>

</html>