<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=360"/>
    <title>Click4Fun GAMES</title>
    <link rel="icon" href=" " type="image/x-icon"/>
    <link type="text/css" rel="stylesheet" href="/static/css/mm_dz_game.css">
    <style>
        .myh {
            margin-top: 10px;
            text-align: center;
            font-size: 25px;
            background-color: #8da728;
            color: white;
            margin-bottom: 10px;
        }

        .btp {
            -webkit-font-smoothing: antialiased;
            line-height: 1.2 !important;
            box-sizing: inherit;
            font-size: 14px !important;
            text-align: justify;
            margin-top: 10px;
        }

    </style>
</head>

<body dir="rtl">
<div class="container">
    <h2 class="myh">Click4Fun GAMES</h2>
    <div class="header">
        <img src="/static/img/bg.png"/>
    </div>
    <div class="footer">
        <div class="sub">
            <p style="font-size:15px" dir="rtl">
                لعب ألعاب الجوال الأكثر شعبية على الانترنت.<br>
                {{/*رسم Click4FunGame: 50.00 DZD في الأسبوع.*/}}
                رسم Click4FunGame في الأسبوع.
            </p>
            <button class="buttonOne" id="submit_btn_mobile"
                    onclick="location.href='#'">إشترك الآن
            </button>
            <br>
            <p class="btp" dir="rtl">
                DZD كل اسبوع على فاتورة الهاتفك المحمول و سيتم تجديد ا شتراك
                تلقائيا . يمكنك إلغاء ا شتراك من الخدمة عن طريق زيارة موقع الخدمه او ارسال ]كلمه الغاء[ لرقم ]الرقم
                المختصر[ .تأكيد أيضا أن عمرك 18 سنة أو أكثر وانك صاحب هذا المحمول أو لديك
                موافقة من صاحب المحمول
            </p>
        </div>
        <div style="text-align: center;font-size: 22px;">
            <a href="/mm/dz/terms">الشروط والبنود</a>
        </div>
    </div>
</div>
</body>

</html>