<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=360">
    <title>Landing Page Mockup</title>
    <link type="text/css" rel="stylesheet" href="/static/css/mondia_dz_style.css">
</head>
<body dir="rtl">
<div class="container" style="text-align: left;">
    <div class="content">
        <h4 style="text-align: center;font-size: 21px;">شروط الخدمة</h4>

        <h5 style="color: #989695;">قواعد الإشتراك فى هذة الخدمة " يمكنك الدخول الى الموقع من    “http://eg.c4fungames.com”</h5>
        <p>
        هذه الخدمة "Click4FunGame" عبارة عن اشتراك يومى متاحة للمشتركين لدى مشغلي شبكات الهاتف المحمول Vodafone  مصر.
            <br>
        يحصل المشترك كجزء من الاشتراك على إمكانية الدخول إلى الاقسام المغلقة و / أو الخدمات الإضافية لموقع “http://eg.c4fungames.com” طيلة مدة الاشتراك.
            <br>
        بدء الأشتراك :
            <br>
        لبدء الإشتراك يجب الموافقة بالنقر على زر " إشترك الآن". و يتم التأكيد على بدء الاشتراك بأرسال رسالة نصية مجانية الى المشترك. سوف ترسل رسالة نصية مجانية بشكل دورى تذكرة بالاشترك المفعل، قد يتم الحصول على رقم المحمول الخاص بك تلقائيا اذا كنت متصل على الأنترنت من خلال باقات 3G/4G الخاصة Vodafone مصر لتسهيل عملية تأكيد الإشتراك في الخدمة.
            <br>
        تكلفة الإشتراك:
            <br>
        تقدم الخدمة على أساس دفع رسوم تدفع يوميا طوال مدة الاشتراك. ثمن الخدمة :
            <br><br>
        •	لمشتركى شبكة Vodafone: 2 جنيه يوميا
            <br><br>
        إلغاء الإشتراك:
            <br>
        لإلغاء الإشتراك إضغط على زر " إلغاء الإشتراك" فى الموقع و اتبع التعليمات. بعد الضغط على زر الإلغاء سيتوقف الإشتراك و سيتم ارسال رسالة نصية مجانية للمشترك للتأكيد على الإلغاء.
            <br>
        لإلغاء الإشتراك عن طريق ارسال رسالة نصية قصيرة. يجب ان :
            <br><br>
        •	لمشتركى شبكة Vodafone: ارسال رسالة مجانية بها كلمة "STOP 2395 " الى الرقم {XXXX}
            <br>
        •	لمشتركى شبكة أورانج: إضغط على الرابط التالى (تأكد من تغيير رقم الخدمة)
            <br>
        •	http://sso.orange.com/mondiamedia_subscription/?method=unsubscribe&serviceId=2395
            <br><br>

        إخلاء المسئولية:
            <br>
        يكون المشترك مسؤولا مسؤولية كاملة عن أي عواقب ناجمة عن اظهار او قراءة او نسخ او استخدام اى من خدمات الموقع.
            <br>
        و أيضا تأكيد أن عمرك 18 سنة أو أكثر وانك صاحب هذا المحمول أو لديك موافقة من صاحب المحمول . للحصول على المساعدة يرجى ارسال بريد إلكتروني إلى [ FAQ page/ merchant company mail address].
            <br>
        </p>



        {{/*<p>*/}}
            {{/*1. من خلال الاشتراك في الخدمة ، فإنك توافق على جميع البنود والشروط الموضحة أدناه وتفوض المشغل بمشاركة رقم*/}}
            {{/*هاتفك المحمول مع Click4FunGame ، الذي يدير خدمة الاشتراك هذه. أنت تقر بأنك مؤهل قانونًا لعرض خدماتنا*/}}
            {{/*واستخدامها وفقًا للقوانين المعمول بها في بلدك.*/}}
            {{/*<br><br>*/}}
            {{/*2. أنت تدرك أن كل المحتوى المتوفر فيما يتعلق بالخدمة هو المسئولية الحصرية للشخص الأصلي لهذا المحتوى. (اسم*/}}
            {{/*التاجر) لا يتحكم أو يراقب المحتوى المتاح فيما يتعلق بالخدمة ، وبالتالي لا يضمن دقة أو سلامة أو جودة هذا*/}}
            {{/*المحتوى. لا يتحمل Click4FunGame مسؤولية تجاهك أو تجاه أي طرف ثالث بأي شكل كان ، بما في ذلك ، على سبيل المثال*/}}
            {{/*لا الحصر ، المحتوى المسيء أو غير القابل للتصرف أو غير المقبول ، أي خطأ أو حذف في أي محتوى. أو أي خسارة أو*/}}
            {{/*ضرر من أي نوع ناتج عن استخدام أي محتوى يتم توفيره من خلال الخدمة. تقر بأن Click4FunGame قد يقوم أو لا يقوم*/}}
            {{/*بمعاينة أو مراقبة المحتوى ، ولكن Click4FunGame وممثلوه يجب أن يكون لديهم الحق (ولكن ليس الالتزام) في تقديرهم*/}}
            {{/*الخاص للمعاينة والمراقبة والرفض والتعطيل الوصول أو حذف أي محتوى متاح من خلال الخدمة.*/}}
            {{/*<br><br>*/}}
            {{/*3. سيتم تجديد الاشتراك تلقائيا وسيتم خصم حسابك كما هو موضح أدناه: النسخة التجريبية المجانية 0.5 دينار /*/}}
            {{/*اليوم قابلة للتطبيق فقط للمستخدمين لأول مرة. سيتم تطبيق رسوم الاشتراك العادية بمجرد اكتمال الإصدار التجريبي*/}}
            {{/*المجاني.*/}}
            {{/*<br><br>*/}}
            {{/*4. باستثناء ما هو منصوص عليه صراحة في Click4FunGame ، تكون الخدمة للاستخدام الشخصي وغير التجاري فقط.*/}}
            {{/*<br><br>*/}}
            {{/*5. أنت تقر وتوافق على أن الخدمة ، أي البرامج الضرورية المستخدمة فيما يتعلق بالخدمة ("البرامج") وأي محتوى*/}}
            {{/*متوفر في الخدمة تحتوي على معلومات سرية محمية بموجب حقوق الملكية الفكرية والقوانين الأخرى المعمول بها.*/}}
            {{/*<br><br>*/}}
            {{/*6. أنت توافق على تعويض Click4FunGame والشركات التابعة لها ، والشركات التابعة لها ، والمسؤولين ، والوكلاء ،*/}}
            {{/*والموظفين ، والشركاء ، والمرخص لهم عن أي مطالبة أو مطالبة أو تكلفة أو خسارة أو ضرر أو التزام أو حكم.*/}}
            {{/*والنفقات ، بما في ذلك أتعاب المحاماة المعقولة ، الناتجة عن أو فيما يتعلق بأي مطالبة أو إجراء أو إجراء من قبل*/}}
            {{/*طرف ثالث بسبب أو الناشئة عن المحتوى الذي ترسله أو تقدمه من خلال الخدمة ، استخدامك للخدمة أو اتصالك بالخدمة*/}}
            {{/*أو انتهاكك للشروط أو انتهاكك لأي حقوق لأي شخص أو كيان آخر.*/}}
            {{/*<br><br>*/}}
            {{/*7. Click4FunGame ، وClick4FunGame ، وClick4FunGame الآخر هي علامات تجارية لClick4FunGame و / أو الشركات التابعة له ، ولا*/}}
            {{/*يجوز لك استخدام أو عرض هذه العلامات التجارية بأي شكل دون الحصول على موافقة خطية مسبقة منا. العلامات التجارية*/}}
            {{/*أو علامات الخدمة الخاصة بالطرف الثالث المعروضة على الخدمة هي ملك لأصحابها المعنيين.*/}}
        {{/*</p>*/}}

    </div>
    <div class="back"><a href="/mm/dz/lp"> &lt;&lt; الى الخلف </a></div>

</div>

<script type="text/javascript">
    function closeWin() {
        if (navigator.userAgent.indexOf("Firefox") != -1 || navigator.userAgent.indexOf("Chrome") != -1) {
            window.location.href = "about:blank";
            window.close();
        } else {
            window.opener = null;
            window.open("", "_self");
            window.close();
        }
    }
</script>

</body>
</html>