
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=360">
    <title>Unsubscribe</title>
    <link type="text/css" rel="stylesheet" href="css/styles.css">
    <script type="text/javascript" src="./js/min.js"></script>
    <style type="text/css">
        .ver {
            font-size: 12px;
            color: #a1a1a1;
        }
    </style>
</head>

<body>
<div class="container">
    <div class="content">
        <form action="submitPhone" id="form1" method="Get">
            <p class="m-b">Mobile number to be unsubscribed</p>
            <input class="fill_num m-b" id="phone" placeholder="48xxxxxxxxx" />
            <p class="ver">Verification Code will be sent to this msisdn.</p>
            <a type="button" class="unsub">Submit</a>
            <p class="last">*Please enter your number with country code (e.g.48 in the PL)</p>
        </form>
    </div>
</div>
</body>

</html>
